
<h3> These are the details for our {{foundCoffee.country}} coffee. </h3>

<p>Country: {{foundCoffee.country}}</p>
<p> Roast: {{foundCoffee.roast}}  </p>
<p> Description: {{foundCoffee.description}} </p>
<p> Price: {{ foundCoffee.price}}</p>

 <a href="/coffee">All Coffees </a>