<h1>{{title}}</h1>
<h3> This is coffee details </h3>

<p>Country: {{foundCoffee.country}}</p>
<p> Roast: {{foundcoffee.roast}}  </p>
<p> Description: {{foundcoffee.description}} </p>
<p> price: {{ foundcoffee.price}}</p>

 <a href="/coffee"> Coffee </a>