<h2>Our Coffee Selection</h2>

<ul>
    {{#each newCoffees}}

    <p> </p>
   <p> {{this.country}} </p>
   <p> {{this.price}} </p>
    <a href="/coffee/{{this._id}}"> Details </a>
    {{/each}}
</ul>
<hr>
<ul>
    {{#each newDrinks}}

    <p> {{this.name}} </p>
    <p> {{this.temperature}} </p>
    <p> {{this.description}} </p>
   <p> {{this.price}} </p>

    <a href="/coffee/{{this._id}}"> Details </a>
    {{/each}}
</ul>

<div class="coffee"> 
</div>


