<h1>{{title}}</h1>
<h3> This is coffee details </h3>


<p>Name: {{foundFood.name}}</p>
<p> category: {{foundFood.category}}  </p>
<p> Description: {{foundFood.description}} </p>
<p> Price: {{foundFood.price}} </p>
<p> Calories: {{ foundFood.calories}}</p>
<p> Ingredientes: {{ foundFood.ingredientes}}</p>

 <a href="/coffee"> Coffee </a>